/* ###################################################################### */
/* SITEWIDE */
/* ###################################################################### */

body { background: #ddd }
#main-container { background: white; padding-top: 3em; padding-bottom: 0 }

.navbar-inner {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#header { background: #e9e9e9 }

#leaderboard img { border: none }
#leaderboard div#ucsfnav-container { background: #666 }
#leaderboard div#ucsfnav { height: 30px; padding-left: 20px; }
#leaderboard div#ucsfnav a.ucsf-logo{ display: block; float: left; background: #666 url(../img/ucsf_header_42x25_666transparentbg.gif) no-repeat 0 0; width: 42px; height:25px; text-indent: -99999px; }
#leaderboard ul { position: relative; float:left; margin: 8px 0 0; padding-left: 20px; list-style-type: none; }
#leaderboard ul li { display: inline; color:#fff; }
#leaderboard div#ucsfnav ul li a { font-size: 11px; color: #fff; border-left: 1px solid #fff; padding: 0 5px 0 10px; }
#leaderboard div#ucsfnav ul li.first a { border: none; padding-left: 5px; }

#header .navbar { margin-bottom: 0 }
#header .navbar-inner { background-color: #036; background-image: none !important; padding-left: 12px }
#header .navbar .nav > li > a { color: #d8d8d8; font-weight: bold; border-right: 1px solid #258; padding-left: 20px; padding-right: 20px }
#header .navbar .nav > li > a:hover, #header .navbar .nav > li > a.active { color: #ffffff; text-decoration: underline }

#header-brand-block { float: left; margin: 10px 0 10px 20px }
#header-brand-block h1 { line-height: 100%; margin: 5px 0 }
#header-brand-block h1 a { color: #036; font-size: 44px }
#header-brand-block h1 a:hover, #header-brand-block h1 a:hover #tagline { color: #08C !important; text-decoration: none }
#header-brand-block h1 #tagline { font-size: 20px; font-style: italic; color: #666 }

/* #header-brand-block h1 { font-size: 36px; margin: 0; padding: 0 } */
/* #header-brand-block h1 a { color: #036 !important; text-decoration: none } */
/* #header-brand-block h1 #beta { font-weight: normal; font-size: 50%; vertical-align: super } */
/* #header-brand-block p { color: #666; font-style: italic; text-transform: lowercase; font-size: 150% } */

#header-collapsed-brand { display: none; font-weight: bold; color: white }

#powered-by-block { text-align: right; float: right; margin: 10px 20px 0 0; }
#powered-by-block a { display: block; font-weight: bold; text-align: right }
#powered-by-ctsi { color: #c60 }
#powered-by-rrp { color: #777 }

#powered-by-ctsi {
  background: url("../img/ctsi-logo.16x16.png") no-repeat scroll 0 0 transparent;
  background-position: 17px 0;
  padding-left: 24px;
  color: #D18146;
}

@media (max-width: 767px) {
   body { background: #fff }
   #leaderboard, #powered-by-block { display: none }
   #header a.brand { text-decoration: underline }
   #header { margin-bottom: 1em }
   #header-brand-block { margin: 0; padding: 0; font-size: 20px; float: none; display: block; background: #ddd; text-align: center }
   #header-brand-block h1 a { font-size: 20px; margin: 0; padding: 0 }
   #header-brand-block p { display: none }
   #header #search-form { float: none !important; text-align: center }
   #footer { background: #ddd; padding: 0.75em; margin: 0 }
   #header-collapsed-brand { display: inline; font-size: 16px }
}

#footer { text-align: center }
#footer .row > div { padding-top: 0.5em; padding-bottom: 0.5em }
#footer #footer-collaboration { border-top: 3px solid #666; border-bottom: 3px solid #666; background: white; zcolor: #666; padding-top: 0.5em; padding-bottom: 0.5em }
#footer #footer-contact { background: #666; font-weight: bold ; color: white; border-bottom: 1px solid white  }
#footer #footer-contact a { color: white }
#footer #footer-copyright { background: #666; font-weight: bold ; color: white }


/*
#footer { padding-top: 6em }
#footer { color: #777 }
#footer a { font-weight: bold }
#footer:hover a { color: #0088cc }
#footer h4 + p, #footer h4 + dl, #footer h4 + form { margin-top: 1em; padding-top: 0 }
*/

/* ###################################################################### */
/* INDEX PAGE */
/* ###################################################################### */

#index-page #main-container { text-align: center }
#index-page #main-heading h1 { font-size: 42px; line-height: 1; letter-spacing: -1px; padding: 0 0 0.3em 0; margin-bottom: 0; text-align: center; display:inline-block; max-width: 12em; color: #036; }
#index-page #stats { font-size: 16px; color: #666 }

#index-page #browse { display:inline-block; text-align: left }
#index-page #browse h2 { margin-bottom: 1em; text-align: center; font-size: 36px; line-height: 36px; color: #036 }
#index-page #browse li small { color: #999; font-size: 90% }

#index-page #search-form { margin: 5em auto; text-align: center; max-width: 625px; padding: 1.75em; background-color: #e0e0e0; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

#index-page #search { font-size: 200%; min-height: 1.5em }


@media (min-width: 768px) {
   #index-page #browse { width: 100% }
   #index-page #browse ul {
      -moz-column-width: 280px;
      -webkit-column-width: 280px;
      column-width: 280px;
   }
}

@media (max-width: 767px) {
   #index-page #search-form { margin: 1em 0 }
   #index-page #main-heading h1 { max-width: none; font-size: 24px; padding: 0.2em 0 1em 0 }
   #index-page #stats { display: none }
   #index-page #browse h2 { font-size: 20px; line-height: 25px }
   #index-page #search-form { margin: 1em auto 3em auto; text-align: center; padding: 0; background: none }
}

/* ###################################################################### */
/* RESOURCE PAGE */
/* ###################################################################### */

#resource-page h1 { color: #036 }
#resource-page .core h2 { line-height: 24px; text-decoration: underline }
#resource-page #context-list { margin-bottom: 0; padding-bottom: 0 }
#resource-page #synonym-list a { color: #333 }
#resource-page #synonym-list a:hover { color: #005580; text-decoration: underline; }

#resource-page #see-also { padding-bottom: 2em; font-size: 110% }
#resource-page .see-also-label { color: #990000; font-weight: bold }
#resource-page .see-also-links a { font-weight: bold }

#resource-page .core-details { padding-left: 2em; margin-bottom: 0; padding-bottom: 0; color: #999 }
#resource-page .core-details span:after { content: ", " }
#resource-page .core-details span:last-child:after { content: "" }
#resource-page .core-location { float: right; text-align: center; background-color: #c60}

#resource-page .core-email a { color: #999; text-decoration: underline }
#resource-page .core-email a:hover { color: #005580; text-decoration: underline; }
#resource-page .core-email-primary-link { font-weight: bold; text-decoration: underline }

#resource-page .core-phone-primary-link { color: black; font-weight: bold }

#resource-page ul.match { margin: 1em 2em 3em 3.3em }
#resource-page ul.match li { font-size: 110% }

#resource-page #core-location-filter { display: none; margin-bottom: 3em }
#resource-page #core-location-filter-label-block { text-align: right }

#resource-page .well { margin-bottom: 3em }

@media (max-width: 767px) {
   #index-page h1 { color: black }
   #resource-page #core-location-filter-label-block { text-align: left }
}

@media (max-width: 480px) {
   #resource-page #context { background: none; border: none }
   #resource-page #context-list { display: none }
   #resource-page h1 { text-align: center }
}

/* ###################################################################### */
/* SEARCH PAGE */
/* ###################################################################### */

#search-page #main-container { min-height: 30em !important }
#search-page #st-results-container { margin-bottom: 3em }


/* ###################################################################### */
/* DEBUG CORES INDEX
/* ###################################################################### */

#debug-index-page #debug-cores-list > li { margin: 1em 0 }
#debug-index-page #debug-cores-list strong { font-size: 125% }


/* ###################################################################### */
/* placeholder_polyfill.min.css
/* ###################################################################### */

label span.placeholder{position:absolute;font-size:75%;color:#999;font-family:sans-serif;padding:4px 3px;z-index:1}label span.placeholder-hide-exept-screenreader{clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);padding:0!important;border:0!important;height:1px!important;width:1px!important;overflow:hidden}
label span.placeholder-hide{display:none}label.visuallyhidden-with-placeholder{height:auto!important;overflow:visible!important;position:absolute!important;left:-999em}
