[% USE HTML %]

<!-- end main content -->
    </div> <!-- /container -->

[% PERL %]
if (eval { $context->template('custom_footer.html.tt') }) {
   $stash->set('using_custom_footer', 1);
} else {
   $stash->set('using_custom_footer', 0);
}
[% END %]

[% IF using_custom_footer %]
    <footer id="footer" role="contentinfo">
      <div class="container">

[% INCLUDE custom_footer.html.tt %]

      </div>
    </footer>
[% END %]

</body>
</html>
